<nb-card size="giant" [nbSpinner]="loading" nbSpinnerStatus="danger">
  <nb-tabset fullWidth>

    <nb-tab tabTitle="Users">
      <div class="col-md-12 mt-3 mb-3">

        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Username</th>
              <th>Role</th>
              <th>Blocked</th>
              <th>Date Created</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let user of users">
              <td>{{ user.id }}</td>
              <td>{{ user.username }}</td>
              <td>{{ getRole(user.role) }}</td>
              <td>{{ user.isBlocked ? "Yes" : "No" }}</td>
              <td>{{ user.dateCreated | date:"dd/MM/yyyy HH:mm:ss" }}</td>
              <td class="text-center">               
                <button (click)="openChangePassword(user.id)" class="btn btn-light btn-sm" nbButton nbTooltip="change password" nbTooltipStatus="dark">
                  <nb-icon icon="edit-outline"></nb-icon>
                </button>
                &nbsp;
                <button (click)="openChangeRole(user.id)" class="btn btn-light btn-sm" nbButton nbTooltip="change role" nbTooltipStatus="dark">
                  <nb-icon icon="award-outline"></nb-icon>
                </button>
                &nbsp;
                <button (click)="blockUser(user.id)" nbButton [nbTooltip]="getBlockedToolTip(user.id)" nbTooltipStatus="dark" class="btn btn-light btn-sm">
                  <!-- <i class="icon-size unlock-outline"></i> -->
                  <nb-icon [icon]="getBlockedIcon(user.id)"></nb-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      
      <!-- <nb-list>
        <nb-list-item class="contact" *ngFor="let c of contacts">
          <nb-user [picture]="c.user.picture" [name]="c.user.name" [title]="c.type" size="large"></nb-user>
          <nb-icon icon="phone-outline" pack="eva"></nb-icon>
        </nb-list-item>
      </nb-list> -->
    </nb-tab>

    <nb-tab tabTitle="Logs">
      <div class="col-md-12 mt-3">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger2" class="mt-3 table table-bordered">
          <thead>
            <tr>
              <th>ID</th>
              <th>Username</th>
              <th>Action</th>
              <th>Date Created</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let log of logs">
              <td>{{ log.id }}</td>
              <td>{{ log.username }}</td>
              <td>{{ log.action }}</td>
              <td>{{ log.dateCreated | date:"dd/MM/yyyy HH:mm:ss" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </nb-tab>

  </nb-tabset>
</nb-card>
